@tailwind base;
@tailwind components;
@tailwind utilities;

.issue-content p {
  font-size: 1rem;
  margin-bottom: 16px;
}

.issue-content a {
  color: #1c6eba;
  text-decoration: underline;
}

.issue-content a:hover {
  color: #155a9c;
}

.issue-content li {
  margin-bottom: 6px;
}

.issue-content ul {
  margin-bottom: 16px;
  padding-left: 32px;
  list-style-type: disc;
}

.issue-content ol {
  margin-bottom: 16px;
  padding-left: 32px;
  list-style-type: decimal;
}

.issue-content hr {
  margin: 24px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.issue-content h2 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.3;
  color: #1c6eba;
  letter-spacing: 0.025em;
}

.issue-content h3 {
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  color: #1c6eba;
  letter-spacing: 0.025em;
}
